// ========FONTS==========

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;

// ========COLORS=========

$main-background-color: #84a178;
$secondary-background-color: #fcfcfc;
$yellow-color: #f8d24e;
$accent-color: #0a8817;

$card-1-background: #aec6a5;
$card-2-background: #efd478;
$card-3-background: #d6936d;
$footer-cards-background: #ffffff;

// ===TEXT-Colors=========

$white-text-color: #fcfcfc;
$black-text-color: #131313;
$footer-policy-text: #7a7a7a;

// ========Transition=======

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
