<div class="section-advantages">
  <h2 class="advantages-title visually-hidden">advantages</h2>
  <ul class="advantages__list list">
    <li class="advantages__item">
      <span class="advantages__number">721</span>
      <div class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </div>
    </li>
    <li class="advantages__item">
      <span class="advantages__number">16kg</span>
      <div class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </div>
    </li>
    <li class="advantages__item">
      <span class="advantages__number">84</span>
      <div class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </div>
    </li>
  </ul>
</div>
