<section class=" section contacts" id="contacts">
    <div class="container">
        <h2 class="contacts__title visually-hidden">contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__shop">
                <ul class="shop">
                    <li>
                        <p class="shop__type">cafe</p>
                    </li>
                    <li class="shop__content">
                        <p class="shop__location">Chicago</p>
                        <a href="" class="shop__link"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </li>
                    <li class="shop__content">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content"> <a class="link" href="tel:+610383766284">+61 (0) 383 766 284</a> <a
                            class="link" href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
                </ul>
            </li>
            <li class="contacts__shop">
                <ul class="shop">
                    <li>
                        <p class="shop__type shop__type--color">foodtruck</p>
                    </li>
                    <li class="shop__content">
                        <p class="shop__location">Los Angeles</p>
                    <a href="" class="shop__link"> 1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </li>
                    <li class="shop__content">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content"> <a class="link" href="tel:+610383766284">+61 (0) 383 766 284</a> <a
                            class="link" href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
                </ul>
            </li>
            <li class="contacts__shop">
                <ul class="shop">
                    <li>
                        <p class="shop__type">cafe</p>
                    </li>
                    <li class="shop__content">
                        <p class="shop__location">New York</p>
                        <a href="" class="shop__link"> 726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </li>
                    <li class="shop__content">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content"> <a class="link" href="tel:+610383766284">+61 (0) 383 766 284</a> <a
                            class="link" href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__btn-list">
            <li class="contacts__btn"> <button data-locations-modal-open="" class="button button--with-hover"> <span
                        class="contacts__btn-text">Our Locations</span> <svg class="contacts__icon" width="15"
                        height="20">
                        <use href=""></use>
                    </svg> </button> </li>
            <li class="contacts__btn"> <button data-franchise-modal-open="" class="button button--with-hover"> <span
                        class="contacts__btn-text">Franchise</span> <svg class="contacts__icon" width="15" height="20">
                        <use href=""></use>
                    </svg> </button> </li>
        </ul>
    </div>
</section> -->