



<section class="section contacts" id="contacts">

    <div class="container container-contacts">
        <h2 class="contacts__title visually-hidden">contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__shop">
                <ul class="shop">
                    <li>
                        <p class="shop__type">cafe</p>
                    </li>
                    <li class="shop__content shop__content--after">
                        <p class="shop__location">Chicago</p>
                        <a href="" class="shop__link"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </li>
                    <li class="shop__content shop__content--after">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekdays shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content "> <a class="shop__contact" href="tel:+610383766284">+61 (0) 383 766
                            284</a> <a class="shop__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__shop ">
                <ul class="shop">
                    <li>
                        <p class="shop__type shop__type--color">foodtruck</p>
                    </li>
                    <li class="shop__content shop__content--after">
                        <p class="shop__location">Los Angeles</p>
                        <a href="" class="shop__link"> 1003 Manhattan Ave, Manhatan Beach, CA 90263, USA</a>
                    </li>
                    <li class="shop__content shop__content--after">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekdays shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content"> <a class="shop__contact" href="tel:+610383766284">+61 (0) 383 766 284</a>
                        <a class="shop__contact" href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
                </ul>
            </li>
            <li class="contacts__shop">
                <ul class="shop">
                    <li>
                        <p class="shop__type">cafe</p>
                    </li>
                    <li class="shop__content shop__content--after">
                        <p class="shop__location">New York</p>
                        <a href="" class="shop__link"> 726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </li>
                    <li class="shop__content shop__content--after">
                        <div class="shop__weekdays">
                            <p class="shop__days">Monday - Friday</p>
                            <p class="shop__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="shop__weekdays shop__weekends">
                            <p class="shop__days">Saturday - Sunday</p>
                            <p class="shop__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </li>
                    <li class="shop__content"> <a class="shop__contact" href="tel:+610383766284">+61 (0) 383 766 284</a>
                        <a class="shop__contact" href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
                </ul>
            </li>
        </ul>
        <div class="contacts__btn-cover">
            <button type="button" class="contacts-button contacts-button--color" data-modal-map-open> <span
                    class="contacts__btn-text">Our Locations</span>
                <svg class="contacts__icon" width="12" height="12">
                    <use href="./images/contacts/symbol-defs-contacts.svg#Frame-45"></use>
                </svg>
            </button>
            <button type="button" class="contacts-button contacts-button--border" data-modal-contacts-open> <span
                    class="contacts__btn-text">Franchise</span> <svg class="contacts__icon" width="12" height="12">
                    <use href="./images/contacts/symbol-defs-contacts.svg#Frame-45"></use>
                </svg> </button>
        </div>
    </div>
</section>


    <div class="backdrop-contacts is-hidden " data-modal-contacts>
    
        <div class="modal-contacts">
            <form class="form-contacts">
                <div class="form-text__cover">
                    <p class="form-contacts__text">Thank you for your interest in owning an Ice Cream shop</p>
                </div>
                <p class="form__subtext">Due to the overwhelming volume of franchise requests we are not accepting new
                    franchisee applications at this time. Once
                    the application process resumes, we will contact you for further information. Please fill out the
                    contact information
                    below and we will reach out for additional information. We appreciate your patience.</p>
                <div class="input__cover">
                    <input class="form__input" type="text" name="user-name" placeholder="Name" />
                    <input class="form__input" type="tel" name="tel" placeholder="Phone" />
                    <input class="form__input" type="email" name="email" placeholder="Email" />
                    <textarea class="form__input form__input-comment" name="comment" id="comment" rows="10"
                        placeholder="Comment"></textarea>
                </div>
                <button class="submit" type="submit">Submit</button>
            </form>
            <button class="close" data-modal-contacts-close>
                <svg class="close__image">
                    <use href="./images/contacts/symbol-defs2.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="backdrop-contacts is-hidden" data-modal-map>
        <div class="modal-map">
            <p class="map__text">Our Locations</p>
            <div class="google-map__cover">
                <iframe class="google-map__big"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6677.368016124134!2d-73.94538420587185!3d40.67832827796019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24416947c2109%3A0x82765c7404007886!2sBrooklyn%2C%20New%20York%2C%20USA!5e0!3m2!1sde!2sua!4v1665366472443!5m2!1sde!2sua"
                    width="448" height="260" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="google-map__cover--size">
                <iframe class="google-map__small"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6051.50032233831!2d-73.9426682!3d40.6794735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bc862a91885%3A0xa8277978df588ced!2sBrooklyn%20waxing%20studio!5e0!3m2!1sde!2sua!4v1665602278684!5m2!1sde!2sua"
                    width="412" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <a href="https://goo.gl/maps/FYwcBPDQmrhRuqtB9" target="_blank" class="submit submit__link">Open map</a>
            </form>
            <button class="close" data-modal-map-close>
                <svg class="close__image">
                    <use href="./images/contacts/symbol-defs2.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
 