<section class="section__customers-reviews">
  <div class="container__reviews">
    <!-- ========================= SWIPER  ============================= -->

    <div class="swiper customers">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- ============== Slide EMILY ================== -->

        <div class="swiper-slide">
          <img
            class="customers__photo"
            srcset="
              /src/images/customer_reviews/customers/emily.png 1x,
              /src/images/customer_reviews/customers/emily.png 2x
            "
            src="/src/images/customer_reviews/customers/emily.png"
            width="85"
            height="85"
            alt="emily"
            loading="lazy"
          />

          <p class="customers__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <span class="customers__address">Emily, Los Angeles</span>
        </div>

        <!-- ===============  Slide SAM  ============== -->

        <div class="swiper-slide">
          <img
            class="customers__photo"
            srcset="
              /src/images/customer_reviews/customers/sam.png    1x,
              /src/images/customer_reviews/customers/sam@2x.png 2x
            "
            src="/src/images/customer_reviews/customers/sam.png"
            width="85"
            height="85"
            alt="sam"
            loading="lazy"
          />

          <p class="customers__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <span class="customers__address">Sam, Los Angeles</span>
        </div>

        <!-- ===============  Slide DIANA  ============== -->

        <div class="swiper-slide">
          <img
            class="customers__photo"
            srcset="
              /src/images/customer_reviews/customers/diana.png    1x,
              /src/images/customer_reviews/customers/diana@2x.png 2x
            "
            src="/src/images/customer_reviews/customers/diana.png"
            width="85"
            height="85"
            alt="bryan"
            loading="lazy"
          />

          <p class="customers__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <span class="customers__address">Diana, Chicago</span>
        </div>

        <!-- ===============  Slide BRYAN  ============== -->

        <div class="swiper-slide">
          <img
            class="customers__photo"
            srcset="
              /src/images/customer_reviews/customers/bryan.png    1x,
              /src/images/customer_reviews/customers/bryan@2x.png 2x
            "
            src="/src/images/customer_reviews/customers/bryan.png"
            width="85"
            height="85"
            alt="bryan"
            loading="lazy"
          />

          <p class="customers__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <span class="customers__address">Bryan, New-York</span>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- ============================================= -->
  </div>
</section>
