<section class="section__customers-reviews">
  <div class="customers-reviews__overlay">
    <div class="customers-reviews container">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slide EMILY -->

          <div class="swiper-slide">
            <img
              class="customers__photo"
              srcset="
                /src/images/customer_reviews/customers/emily.png 1x,
                /src/images/customer_reviews/customers/emily.png 2x
              "
              src="/src/images/customer_reviews/customers/emily.png"
              width="85"
              height="85"
              alt="emily"
              loading="lazy"
            />
            <div class="customers__text-box">
              <p class="customers__text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <span class="customers__address">Emily, Los Angeles</span>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
