<footer class="page-footer">
    <div class="container page-footer__container">
        <p class="page-footer__label"> <span class="page-footer__title-first">homemade ice cream made</span> <span
                class="page-footer__title-second">with passion</span> </p>
        <div class="page-footer__contacts">
            <ul class="socials">
                <li class="socials__item"> <a class="link socials__link" href="" aria-label="github"> <svg
                            class="icon page-footer__icon">
                            <use href="./images/contacts/symbol-defs-contacts.svg#github"></use>
                        </svg> </a> </li>
                <li class="socials__item"> <a class="link socials__link" href="" aria-label="telegram"> <svg
                            class="icon page-footer__icon">
                            <use href="./images/contacts/symbol-defs-contacts.svg#telegram"></use>
                        </svg> </a> </li>
                <li class="socials__item"> <a class="link socials__link" href="" aria-label="facebook"> <svg
                            class="icon page-footer__icon">
                            <use href="./images/contacts/symbol-defs-contacts.svg#facebook"></use>
                        </svg> </a> </li>
            </ul>
            <address class="address">
                <p class="address__appeal">Feel free to contact</p> <a class="address__tel link"
                    href="tel:+610383766284">+61
                    (0) 383 766 284</a>
            </address>
        </div>
    </div>
    <div class=" container under-footer">
        <p class=" conteiner page-footer__copyright"> © 2022 - IceCream. All Rights Reserved. </p>
    </div>
</footer>