<!-- ===== -->
<!-- ===== -->

<section class="section-gallery gallery__background">
  <div class="container__gallery">
    <div class="gallery_slider">
      <div class="photo-1">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/ice-creams-1013.png    1x,
              ./images/gallery/desktop/ice-creams-1013@2x.png 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams-704.png    1x,
              ./images/gallery/tablet/ice-creams-704@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/gallery/mobile/ice-creams-279@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/mobile/ice-creams-279.png"
            alt="ice-creams"
            class="gallery__photos-ice-creams"
          />
        </picture>
      </div>
      <!-- <div class="photo-2">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/ice-creams-1013.png    1x,
              ./images/gallery/desktop/ice-creams-1013@2x.png 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams-704.png    1x,
              ./images/gallery/tablet/ice-creams-704@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/gallery/mobile/ice-creams-279@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/mobile/ice-creams-279.png"
            alt="ice-creams"
            class="gallery__photos-ice-creams"
          />
        </picture>
      </div> -->
      <div class="photo-2">
        <picture>
          <source
            srcset="./images/gallery/desktop/ice-creams-1013-two@2x.png 2x"
            media="(min-width: 1080px)"
          />
          <img
            src="./images/gallery/desktop/ice-creams-1013-two.png"
            alt="ice-creams"
            class="gallery__photos-ice-creams"
          />
        </picture>
      </div>
      <!-- <div class="photo-3">
        <picture>
          <source
            srcset="./images/gallery/desktop/ice-creams-1013-three@2x.png 2x"
            media="(min-width: 1080px)"
          />
          <img
            src="./images/gallery/desktop/ice-creams-1013-three.png"
            alt="ice-creams"
            class="gallery__photos-ice-creams"
          />
        </picture>
      </div>  -->
    </div>
  </div>
</section>
