<section class="products products__section">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card products__card--ice">
        <div class="products__meta">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          type="button"
          class="products__button"
          data-products-modal-open
        ></button>
      </li>
      <li class="products__card products__card--coffee">
        <div class="products__meta">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          type="button"
          class="products__button"
          data-products-modal-open
        ></button>
      </li>
      <li class="products__card products__card--milkshake">
        <div class="products__meta">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="button"
          class="products__button"
          data-products-modal-open
        ></button>
      </li>
    </ul>
  </div>
</section>
<div class="products-backdrop is-hidden" data-products-modal>
  <div class="products-modal">
    <button
      type="button"
      class="products-modal__button--close"
      data-products-modal-close
    >
      <svg class="products-icon-close" width="16" height="16">
        <use href="./images/about/icon.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="products-modal__title">Chololate icecream</h2>
    <picture>
      <source
        srcset="
          ./images/products/products-modal-icecream.png    1x,
          ./images/products/products-modal-icecream@2x.png 2x
        "
      />
      <img
        class="products-modal__img"
        src="./images/products/products-modal-icecream.png"
        alt="icecream"
      />
    </picture>
    <ul class="products-modal__ovals-list">
      <li class="products-modal__oval">
        <div class="products-modal__round">320</div>
        <span class="products-modal__oval-text">kcal</span>
      </li>
      <li class="products-modal__oval">
        <div class="products-modal__round">4g</div>
        <span class="products-modal__oval-text">Protein</span>
      </li>
      <li class="products-modal__oval">
        <div class="products-modal__round">8,2g</div>
        <span class="products-modal__oval-text">Fats</span>
      </li>
      <li class="products-modal__oval">
        <div class="products-modal__round">40,4g</div>
        <span class="products-modal__oval-text">Carbs</span>
      </li>
    </ul>
    <p class="products-modal__subtitle">Ingredients</p>
    <div class="products-modal__meta">
      <ul class="products-modal__name-list">
        <li class="products-modal__name">Milk</li>
        <li class="products-modal__name">Belgian chocolate</li>
        <li class="products-modal__name">Cream</li>
        <li class="products-modal__name">Cocoa powder</li>
        <li class="products-modal__name">Sugar</li>
        <li class="products-modal__name">Vanilla sugar</li>
      </ul>
      <ul class="products-modal__amount-list">
        <li class="products-modal___amount">100ml</li>
        <li class="products-modal___amount">20g</li>
        <li class="products-modal___amount">150 ml</li>
        <li class="products-modal___amount">30g</li>
        <li class="products-modal___amount">40g</li>
        <li class="products-modal___amount">10g</li>
      </ul>
    </div>
    <form class="products-modal__form" name="products-modal__form">
      <div class="products-modal__inputs--wrap">
        <label class="products-modal__label">
          <input
            type="text"
            class="products-modal__input"
            name="name"
            required
            placeholder="Name"
          />
        </label>
        <label class="products-modal__label">
          <input
            type="tel"
            class="products-modal__input"
            name="phone"
            required
            placeholder="Phone"
          />
        </label>
        <label class="products-modal__label">
          <textarea
            class="products-modal__textarea"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="products-modal__btn">Submit</button>
    </form>
  </div>
</div>
