<section class="products products__section">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list"></ul>
    <li class="products__card products__card--ice">
      <div class="products__meta">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </div>
      <button type="button" class="products__button">
        <svg class="products__button--arrow" width="40" height="15">
          <use
            href="./images/products/products-icon.svg#icon-products-arrow"
          ></use>
        </svg>
      </button>
    </li>
    <li class="products__card products__card--coffee">
      <div class="products__meta">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </div>
      <button type="button" class="products__button">
        <svg class="products__button--arrow" width="40" height="15">
          <use
            href="./images/products/products-icon.svg#icon-products-arrow"
          ></use>
        </svg>
      </button>
    </li>
    <li class="products__card products__card--milkshake">
      <div class="products__meta">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
      </div>
      <button type="button" class="products__button">
        <svg class="products__button--arrow" width="40" height="15">
          <use
            href="./images/products/products-icon.svg#icon-products-arrow"
          ></use>
        </svg>
      </button>
    </li>
  </div>
</section>
