.section-advantages {
    background-color: $main-background-color;
    padding-top: 60px;
    padding-bottom: 36px;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 86px;
    }
}

.advantages__list {
    list-style: none;
 

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 616px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        justify-content: space-around;
        width: 1168px;
    }
}

.advantages__item {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 95px;
        }
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        width: 152px;
    }

    @media screen and (min-width: 1200px) {
        width: 295px;
    }
}

.advantages__item-1 {
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -66px;

        width: 50px;
        height: 50px;

        background-color: $yellow-color;
        background-size: 36px 36px;
        border-radius: 50%;
        background-image: url(../images/advantages/cow.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.advantages__item-2 {
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -66px;

        width: 50px;
        height: 50px;

        background-color: $yellow-color;
        background-size: 36px 36px;
        border-radius: 50%;
        background-image: url(../images/advantages/weight.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.advantages__item-3 {
    &::before {
        content: "";
        position: absolute;
        top: -66px;

        width: 50px;
        height: 50px;

        background-color: $yellow-color;
        background-size: 36px 36px;
        border-radius: 50%;
        background-image: url(../images/advantages/ice-cream.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.advantages__number {
    margin-bottom: 18px;

    font-family: $tertiary-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    text-align: center;
    text-transform: uppercase;

    color: $white-text-color;

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.advantages__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    text-align: center;

    color: $white-text-color;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
    }
}