//=============MODAL=================//
.modal-contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91.5%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid $yellow-color;

  @media screen and (min-width: 768px) {
    max-width: 568px;
    // height: 668px;
  }

  @media screen and (min-width: 1200px) {
    width: 568px;
    height: 668px;
  }
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: $footer-cards-background;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover .close__image {
    fill: $accent-color;
  }
}

.close__image {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  max-width: 18px;
  max-height: 18px;
}

//=============form===================//

.form-contacts {
  padding: 25px;

  @media screen and(min-width:768px) {
    padding: 32px 42px;
  }
}

.form-contacts__text {
  color: $black-text-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  // width: 221px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @media screen and(min-width:768px) {
    margin-bottom: 24px;
    width: 322px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
}

.form__subtext {
  margin-bottom: 24px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.37;
  color: $black-text-color;

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.37;
  }
}

.input__cover {
  width: 100%;

  @media screen and(min-width:768px) {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  border: 1px solid #84a178;
  border-radius: 10px;
  height: 32px;
  width: 100%;
  padding-left: 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(248, 210, 78, 0.1);

  @media screen and(min-width:768px) {
    height: 42px;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  &:focus {
    outline: none !important;
    border: 1px solid #2196f3;
  }

  &::placeholder {
    color: $black-text-color;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
  }
}

.form__input-comment {
  padding-top: 8px;
  resize: none;
  height: 64px;

  @media screen and(min-width:768px) {
    height: 84px;
    padding-top: 11px;
  }
}

.submit {
  margin-top: 24px;
  padding: 12px 34px;
  margin-left: auto;
  margin-right: auto;
  font-family: $primary-font;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  background-color: $yellow-color;

  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $black-text-color;
  cursor: pointer;

  @media screen and(min-width:768px) {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.submit__link {
  width: 140px;

  @media screen and(min-width:768px) {
    width: 152px;
  }
}
