// =============

.gallery-reviews__overlay {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  background-image: url('../images/customer_reviews/tablet/ice-cream_background.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customer_reviews/mobile/ice-cream_background@2x.png');
  }

  @media screen and (min-width: 480px) {
    background-image: url('../images/customer_reviews/tablet/ice-cream_background.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customer_reviews/tablet/ice-cream_background@2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/customer_reviews/desktop/ice-cream_background.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customer_reviews/desktop/ice-cream_background@2x.png');
    }
  }
}

// ===============  SWIPER  =========================

.customers__photo {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.customers__text {
  color: $white-text-color;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  background-color: $main-background-color;
  border-radius: 10px;
  padding: 34px 41px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(36, 83, 19, 0.349);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    margin-bottom: 32px;
    padding: 29px 80px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 39px 74px;
  }
}

.customers__address {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  // @media screen and (min-width: 768px) {
  //   font-size: 16px;
  // }
}

.container__reviews {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 968px;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.swiper {
  padding-top: 80px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    padding-top: 70px;
    margin-bottom: 38px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    margin-bottom: 52px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 128px;
    margin-bottom: 72px;
  }
}

.section__customers-reviews {
  padding-bottom: 373px;

  @media screen and (min-width: 480px) {
    padding-bottom: 370px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 368px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 180px;
  }
}
