.customers-reviews__overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 1040px;
  transform: translateY(-100px);
  background-image: url('../images/customer_reviews/mobile/ice-cream_background.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customer_reviews/mobile/ice-cream_background@2x.png');
  }

  @media screen and (min-width: 481px) {
    background-image: url('../images/customer_reviews/tablet/ice-cream_background.png');
    height: 958px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customer_reviews/tablet/ice-cream_background@2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/customer_reviews/desktop/ice-cream_background.png');
    height: 1025px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customer_reviews/desktop/ice-cream_background@2x.png');
    }
  }
}

// ===============  SWIPER  =========================

.customers__photo {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.customers__text {
  color: $white-text-color;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  background-color: $main-background-color;
  border-radius: 10px;
  padding: 34px 41px;
  margin-bottom: 30px;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    margin-bottom: 32px;
    padding: 29px 80px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 39px 74px;
  }
}

.customers__address {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  // @media screen and (min-width: 768px) {
  //   font-size: 16px;
  // }
}

// * {
//   outline: 2px solid rgb(247, 100, 3);
// }

.container__reviews {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 968px;

  // @media screen and (min-width: 320px) {
  //   min-width: 320px;
  // }

  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.swiper {
  padding-top: 475px;
}
//   @media screen and (min-width: 480px) {
//     margin-top: 65px;
//   }

//   @media screen and (min-width: 768px) {
//     margin-top: 55px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-top: 125px;
//   }
// }
