.products {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/src/images/products/background-m-min.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/products/background-m2x-min.png');
  }

  @media screen and (min-width: 769px) {
    background-image: url('/src/images/products/background-t-min.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/products/background-t2x-min.png');
    }
  }

  @media screen and (min-width: 1201px) {
    background-image: url('/src/images/products/background-d-min.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/products/background-d2x-min.png');
    }
  }
}

.products__section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }
}

.products__label {
  font-family: $primary-font;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $black-text-color;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.products__title {
  color: $black-text-color;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}

.products__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 164px;

  @media screen and (min-width: 768px) {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.products__card {
  position: relative;
  max-width: 440px;
  height: 420px;
  border-radius: 24px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 428px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 535px;
    padding-top: 166px;
    padding-left: 61px;
    padding-right: 61px;
  }
}

.products__card--ice {
  background: $card-1-background;
}

.products__card--ice::before {
  content: '';
  display: block;
  position: absolute;
  top: -107px;
  left: 50%;
  transform: translate(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 205px;
  height: 215px;
  background-image: url('/src/images/products/products-ice-m.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/products/products-ice2x-m.png');
  }

  @media screen and (min-width: 1200px) {
    top: -157px;
    width: 303px;
    height: 317px;
    background-image: url('/src/images/products/products-ice-d.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/products/products-ice-d2x.png');
    }
  }
}

.products__card--coffee {
  background: $card-2-background;
}

.products__card--coffee::before {
  content: '';
  display: block;
  position: absolute;
  top: -107px;
  left: 50%;
  transform: translate(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 205px;
  height: 215px;
  background-image: url('/src/images/products/products-coffee-min.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/products/products-coffee2x-min.png');
  }

  @media screen and (min-width: 1200px) {
    top: -157px;
    width: 303px;
    height: 317px;
    background-image: url('/src/images/products/products-coffee-d.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/products/products-coffee-d2x.png');
    }
  }
}

.products__card--milkshake {
  background: $card-3-background;
}

.products__card--milkshake::before {
  content: '';
  display: block;
  position: absolute;
  top: -107px;
  left: 50%;
  transform: translate(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 205px;
  height: 215px;
  background-image: url('/src/images/products/products-milkshake-min.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/products/products-milkshake2x-min.png');
  }

  @media screen and (min-width: 1200px) {
    top: -157px;
    width: 303px;
    height: 317px;
    background-image: url('/src/images/products/products-milkshake-d.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/products/products-milkshake-d2x.png');
    }
  }
}
.products__meta {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 40px;

  @media screen and (min-width: 1200px) {
    gap: 65px;
  }
}

.products__subtitle {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black-text-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__text {
  // margin-bottom: 90px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  color: $black-text-color;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.products__button {
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 20px;
  width: 40px;
  height: 16px;
  background-image: url('../images/products/icon-arrow.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transition: background-image 400ms linear, transform 400ms ease-in-out;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }

  &:hover {
    background-image: url('../images/products/icon-arrow-hover.svg');
    width: 51px;
    transform: rotate(360deg);
  }

  &:focus {
    background-image: url('../images/products/icon-arrow-focus.svg');
    width: 52px;
    height: 24px;
    transform: rotate(360deg);
  }
}

// MODAL ============================================

.products-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 100ms ease-in, visibility 400ms ease;
}

.products-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.products-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
  opacity: 0;
}

.products-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;

  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 100ms ease-in, transform 400ms ease;

  @media screen and (max-width: 479px) {
    max-width: 300px;
  }

  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
}

.products-modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover .icon-close,
  &:focus .icon-close {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal.icon-close {
  fill: currentColor;
  margin: 6px;
  display: block;
}
